.elfsight
{

  width: 87% !important;
}

.location-container-container
{
  
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;

}
.location-container
{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-top: 3rem;
  padding-bottom: 0rem;
  border-radius: 3rem;
  background-color: rgba(251, 237, 218, 0.85);
}
.locatie-google
{
  border-radius: 1rem;
  box-shadow: 0px 10px 15px 20px rgba(0, 0, 0,0.21);
  width: 70%;
  height: 60vh;
  margin-bottom: 6rem;
}
.titlu-locatie-container
{
  
  padding-top:10px ;
  border-top: 2px solid;
  height: 20%;
  border-color: rgb(0, 187, 255) ;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  align-content: center;
  padding-right: 4%;
  padding-left: 2%;
  margin-bottom: 2rem;
  
}
.arrow
{
  width: 10vh;
  height: auto;
}
.locatie-text
{
  font-size: larger;
  font-weight: 800;
}

@media screen and (max-width: 600px)
{
  .locatie-google
  {
    height: 40vh;
  }
  .titlu-locatie-container
  {
    height: fit-content;
    border:none;
  }
  .location-container
  {
   height: auto;
  }
  .titlu-locatie-container
  {
    padding-left: 0;
  }
}
