body {
  width: 100vw;
  background-color:rgb(251,237,218);
  margin: 0;
  padding: 0;
  
  
  overflow-x: hidden;
}
.header-text
{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: large;
  white-space: nowrap;
  color: white;
  text-decoration: underline;
  text-decoration:double underline;
}
.header-button
{
  border-radius: 1rem;
}

.land-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to top, rgba(0, 0, 1, 0.4) 70%, rgb(251,237,218,1) 90%), url('site-img/Background.webp');
  background-position: center center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.btn {
  margin-bottom: 0;
  width: max-content;
  cursor: pointer;
  bottom:-2;
  display: inline-block;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  background-color: rgb(251,237,218);
}

.logo-img {
  height: 100px;
  border-radius: 50%;
  /*background: radial-gradient(circle,
      rgb(216, 216, 216, 1) 45%,
      transparent 65%);*/
}

.flex-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.part0-header
{
  
  display: none;
  width: 10px;
}
.part1-header {
  width: fit-content;
  margin-top: 10px;
  margin-left: 0.5rem;
 
}

.retele-logo {
  margin-inline: 0qrem;
  width: 1.7rem;
  height: 100%;
  transition-duration: 0.3s;

  &:hover {
    width: 2.8rem;
    cursor: pointer;
    transition-duration: 0.5s;
  }

  &:active {
    width: 3rem;
  }
}

.part2-header {
  width: 38%;
  display: flex;
  justify-content: space-between;
}

.part3-header {
  width: 10%;
  height: 3vh;
  margin-right: 10px;
  padding-right: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}
.part01-header
{
  display: none;
  width: 10px;
}

button {
  border: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.header-button {
  background-color: transparent;
  color: #ffffff;
  border:none;
  border-radius: 1.5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(170, 170, 170, 0.513);
    text-decoration: underline;
  }
}

.line-container {
  border: none;
  margin-top: 0;
  text-align: center;

  padding-top: 20px;
}
.header-text
{
  text-decoration: solid;
  &:hover{
  color: rgb(0, 187, 255);
  }
}


@media screen and (max-width: 600px){
  .part3-header {
    display: none;

  }
  .part1-header
  {
    margin: 0;
    width:100px ;
    padding-right: 3%;

  }
  .part2-header
  {
    display: none;
  }
  .part0-header
  {
    display:block;
    width: 100px;
    padding-left: 3%;
 

  }
  .land-page
  {
    background-size:container-fluid;
  }
  .logo-img
  {
    width: 100%;
    height: auto;
  }

  .retele-logo
  {
    width: 100%;
   /* background: radial-gradient(circle,
      rgba(255, 255, 255, 0.8) 40%,
      transparent 70%);*/
  }
  .part01-header
  {
    height: 10%;
    display:flex !important;
   align-items: center;
   justify-content: center;
   width: 100vw;
   font-size:x-large;
   color: white ;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   
  }
  .text
  {
    vertical-align: middle;
    
  }
  .flex-header
  {
    justify-content: space-between;
    padding-top:10px ;
  }
}

 