.meniu-show
{
  position: absolute !important;
  width: 100%;
  background-color: rgb(0, 0, 0,0.8);
      left: 0px;
      font-size: 24px;
      color: white;
      cursor: pointer;
      z-index: 2;

      height: 100vh;
      overflow-y: auto; /* Enable scrolling if content exceeds viewport height */
      transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.meniu-content
{

 
  background-color: rgb(251,237,218);
  background-position: center center;
width: 70%;
height: 200vh;

}
.meniu-hide
{
  position: fixed;
      
      left: -50%; /* Initially hide the menu off-screen */
      width: 50%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
      overflow-y: auto; /* Enable scrolling if content exceeds viewport height */
      transition: left 0.3s ease;
      z-index: 1;
}
.controls-x
{
  margin:3px;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.396);
  border-radius: 10%;
  &:hover{
    background-color: rgb(255, 0, 0);
  }
}
.btn-meniu 
{
  border-top-style:solid !important;
  
  
  border-top: 2px;
  border-color: rgba(78, 113, 30, 0);
  background-color:rgba(0, 0, 0, 0.175) ;
  margin: 0;
  
  width:100%;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  &:active{
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.btn-meniu1
{
  border-top-style:solid !important;
  border-bottom-style: solid !important;
  border-top: 2px;
  border-bottom: 2px;
  border-color: rgba(0, 0, 0, 0.132);
  background-color:rgba(0, 0, 0, 0.175) ;
  margin: 0;
  width:100%;
  color: rgb(0, 187, 255);
  transition: all 0.5s;
  &:active{
    background-color: rgba(0, 0, 0, 0.7);
  }

}
.when-menuActive
{
  overflow-y: hidden;
}
.meniu-btn-meniu
{
  margin-top:10px;
}