.sec-detalii {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color:transparent !important;
  height:auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-detalii {
  width: 100%;
  border-radius: 0.1rem;
}
.img-container-sec1
{
  
 
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: #165f64 10px solid;
  background-image: url(site-img/backround-meniu.jpg);
  background-size: cover;

}
.img-container-sec2
{
  width: 15vw;
  height: 15vw;
  border-radius: 2345rem;
  border: #165f64 10px solid;
  background-image: url(site-img/secdetaliiimg.jpg);
  background-size: cover ;
}
.img-container-sec3
{
  width: 15vw;
  height: 15vw;
  border-radius: 2234rem;
  border: #165f64 10px solid;
  background-image: url(site-img/imagescroll3.jpg);
  background-size: cover ;
}
.sec1 {
  border-top-left-radius: 100rem;
  border-top-right-radius: 100rem;
  width: 23%;
  height: 80vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color:#f6eedf;
  padding: 15px;
  margin-bottom: 20px;
  transition: 0.2s;
  box-shadow: 0px 10px 20px 20px rgba(0, 0, 0,0.1);
  &:hover {
    background-color: rgba(0, 0, 0, 0.216);
  }
}

.titlu-detalii {

  font-weight: bold;
  text-align: center;
  font-family:cursive;
  font-size: x-large;
  line-height: 1;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.descriere-detalii {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size:large;
  color: rgba(0, 0, 0, 0.578);
}

@media screen and (max-width: 900px)
{
  .sec-detalii{
  flex-direction:column;
  padding-bottom: 0rem;
  padding-top: 4rem;
  }
  .sec1
  {
    padding-top: 30px;
    margin-bottom: 5rem;
    width: 70%;
    height:fit-content;
  }
  .sec1 h3{
    font-size: 2rem;
    font-family: cursive;
  }
  .sec1 p{
    font-size: large;
  }
  .img-container-sec1,.img-container-sec2,.img-container-sec3
  {
    width: 35vw;
  height: 35vw;
  border-radius: 2345rem;
  border: #165f64 3px solid;
  }
  .descriere-detalii,.titlu-detalii
  {
    margin-top: 30px;
  }

}